## Exploring Ebay Car Sales Data

In this project, I'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.
The aim of this project is to clean the data and analyze the included used car listings.

The data dictionary provided with data is as follows:

dateCrawled - When this ad was first crawled. All field-values are taken from this date.

name - Name of the car.

seller - Whether the seller is private or a dealer.

offerType - The type of listing

price - The price on the ad to sell the car.

abtest - Whether the listing is included in an A/B test.

vehicleType - The vehicle Type.

yearOfRegistration - The year in which which year the car was first registered.

gearbox - The transmission type.

powerPS - The power of the car in PS.

model - The car model name.

kilometer - How many kilometers the car has driven.

monthOfRegistration - The month in which which year the car was first registered.

fuelType - What type of fuel the car uses.

brand - The brand of the car.

notRepairedDamage - If the car has a damage which is not yet repaired.

dateCreated - The date on which the eBay listing was created.

nrOfPictures - The number of pictures in the ad.

postalCode - The postal code for the location of the vehicle.

lastSeenOnline - When the crawler saw this ad last online.

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv("autos.csv",encoding="Latin-1")

In [2]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

The dataset contains 20 columns, most of which are stored as strings. There are a few columns with null values, but no columns have more than ~20% null values. There are some columns that contain dates stored as strings.

I'll start by cleaning the column names to make the data easier to work with.

## Cleaning column names

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
mapping_dict = {
    'name':'name',
    'seller':'seller',
    'price':'price',
    'abtest':'abtest',
    'gearbox':'gearbox',
    'model':'model',
    'odometer':'odometer_km',
    'brand':'brand',
    'yearOfRegistration': 'registration_year',
    'monthOfRegistration': 'registration_month',
    'notRepairedDamage': 'unrepaired_damage',
    'dateCreated': 'ad_created',
    'dateCrawled': 'ad_crawled',
    'offerType': 'offer_type',
    'vehicleType': 'vehicle_type',
    'powerPS': 'power_ps',
    'fuelType': 'fuel_type',
    'nrOfPictures': 'nr_of_pictures',
    'postalCode': 'postal_code',
    'lastSeen': 'ad_last_seen',
}

autos.rename(columns=mapping_dict,inplace=True)
print(autos.columns)

Index(['ad_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'ad_last_seen'],
      dtype='object')

In [5]:
autos.head()

,ad_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,ad_last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

I've changed all the camelcases to snakecases (prefereed in Python) in order to make the columns more readable

## Initial exploration and cleaning

In [6]:
autos.describe(include="all")

,ad_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,ad_last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Our initial observations:

- There are some text columns where all (or nearly all) of the values are the same (seller, offer_type).
- The num_photos column looks odd, we'll need to investigate this further.

In [7]:
autos["nr_of_pictures"].value_counts()

0    50000
Name: nr_of_pictures, dtype: int64

The column "nr_of_pictures" contains the same value for each entry.
I should drop the columns seller, offer_type and nr_of_pictures.

In [8]:
autos = autos.drop(["nr_of_pictures", "seller", "offer_type"], axis=1)

There are two columns, price and odometer, which are numeric values with extra characters being stored as text. I'll clean and convert these.

In [9]:
autos["price"].value_counts()
autos["price"] = autos["price"].str.replace('$','')
autos["price"] = autos["price"].str.replace(',','')
autos["price"] = autos["price"].astype(float)
print(autos["price"].head())

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

In [10]:
autos["odometer_km"].value_counts()
autos["odometer_km"] = autos["odometer_km"].str.replace('km','')
autos["odometer_km"] = autos["odometer_km"].str.replace(',','')
autos["odometer_km"] = autos["odometer_km"].astype(float)
print(autos["odometer_km"].head())

0    150000.0
1    150000.0
2     70000.0
3     70000.0
4    150000.0
Name: odometer_km, dtype: float64

## Odometer and Price columns

In [11]:
print(autos["price"].describe())
print(autos["odometer_km"].describe())
print(autos["price"].value_counts().sort_index(ascending=True))

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
0.0           1421
1.0            156
2.0              3
3.0              1
5.0              2
8.0              1
9.0              1
10.0             7
11.0             2
12.0             3
13.0             2
14.0             1
15.0             2
17.0             3
18.0             1
20.0             4
25.0             5
29.0             1
30.0             7
35.0             1
40.0             6
45.0             4
47.0             1
49.0             4
50.0            49
55.0             2
59.0             1
60.0             9
65.0             5
66.0             1
              ...
151990.0         1
155000.0         1
163500.0         1
163991.0         1
169000.0         1
169999.0         1
175000.0         1
180000.0         1
190000.0         1
194000.0         1
197000.0         1
198000.0         1
220000.0         1
250000.0         1
259000.0         1
265000.0         1
295000.0         1
299000.0         1
345000.0         1
350000.0         1
999990.0         1
999999.0         2
1234566.0        1
1300000.0        1
3890000.0        1
10000000.0       1
11111111.0       2
12345678.0       3
27322222.0       1
99999999.0       1
Name: price, Length: 2357, dtype: int64

In [12]:
#print(autos["price"].describe())
#print(autos["odometer_km"].describe())
#print(autos["price"].value_counts().sort_index(ascending=True))
autos.loc[~(autos["price"].between(100,100000)),"price"]=np.nan
print(autos["price"].value_counts().sort_index(ascending=True))

100.0      134
110.0        3
111.0        2
115.0        2
117.0        1
120.0       39
122.0        1
125.0        8
129.0        1
130.0       15
135.0        1
139.0        1
140.0        9
145.0        2
149.0        7
150.0      224
156.0        2
160.0        8
170.0        7
173.0        1
175.0       12
179.0        1
180.0       35
185.0        1
188.0        1
190.0       16
193.0        1
195.0        2
198.0        1
199.0       41
          ...
73500.0      1
73900.0      1
73996.0      1
74900.0      3
74999.0      2
75000.0      1
75900.0      1
75997.0      1
76997.0      1
78911.0      1
79500.0      1
79933.0      1
79980.0      1
79999.0      1
80000.0      3
82987.0      1
83000.0      1
84000.0      1
84997.0      1
85000.0      1
86500.0      1
88900.0      1
89000.0      1
89900.0      1
93000.0      2
93911.0      1
94999.0      1
98500.0      1
99000.0      2
99900.0      2
Name: price, Length: 2273, dtype: int64

I decided to remove the prices below 100 \$ and above 100000 \$ because I judged those prices not realistics, while I haven't removed any value in the odometer_km column.

## Date column

There are a number of columns with date information:

- date_crawled
- registration_month
- registration_year
- ad_created
- last_seen

In [13]:
years_date_crawled=autos['ad_crawled'].str[:4]
years_date_crawled=years_date_crawled.astype(int)
print(years_date_crawled.value_counts())

2016    50000
Name: ad_crawled, dtype: int64

In [14]:
years_date_created=autos['ad_created'].str[:4]
years_date_created=years_date_created.astype(int)
print(years_date_created.value_counts())

2016    49994
2015        6
Name: ad_created, dtype: int64

In [15]:
years_last_seen=autos['ad_last_seen'].str[:4]
years_last_seen=years_last_seen.astype(int)
print(years_last_seen.value_counts())

2016    50000
Name: ad_last_seen, dtype: int64

In [16]:
autos["registration_year"].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The "registration_year" column, which indicates the year of registration of the car, has some odd values like 1000 or 9999. I have to clean the column.

In [17]:
print(autos["registration_year"].value_counts().sort_index())

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
        ...
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

In [18]:
month_date_crawled=autos['ad_crawled'].str[5:7]
month_date_crawled=month_date_crawled.astype(int)
print(month_date_crawled.value_counts())

3    41895
4     8105
Name: ad_crawled, dtype: int64

In [19]:
day_date_crawled=autos['ad_crawled'].str[8:10]
day_date_crawled=day_date_crawled.astype(int)
print(day_date_crawled.value_counts())

3     1934
5     1924
20    1891
21    1876
7     1869
12    1839
14    1831
4     1826
2     1770
19    1745
28    1742
29    1709
15    1699
1     1690
30    1681
8     1665
9     1661
22    1647
26    1624
11    1624
23    1619
10    1606
31    1596
25    1587
17    1576
27    1552
16    1475
24    1455
6      856
13     778
18     653
Name: ad_crawled, dtype: int64

In [20]:
month_date_created=autos['ad_created'].str[5:7]
month_date_created=month_date_created.astype(int)
print(month_date_created.value_counts())
day_date_created=autos['ad_created'].str[8:10]
day_date_created=day_date_created.astype(int)
print(day_date_created.value_counts())
month_ad_last_seen=autos['ad_last_seen'].str[5:7]
month_ad_last_seen=month_ad_last_seen.astype(int)
print(month_ad_last_seen.value_counts())
day_ad_last_seen=autos['ad_last_seen'].str[8:10]
day_ad_last_seen=day_ad_last_seen.astype(int)
print(day_ad_last_seen.value_counts())

3     41866
4      8053
2        63
1        12
12        2
11        1
9         1
8         1
6         1
Name: ad_created, dtype: int64
3     1990
4     1916
20    1895
21    1889
12    1834
7     1803
14    1764
2     1761
28    1758
5     1747
29    1716
1     1696
19    1695
15    1687
30    1673
8     1668
9     1665
22    1642
11    1641
26    1630
23    1613
25    1597
10    1597
31    1596
17    1561
27    1554
16    1502
24    1456
6      919
13     847
18     688
Name: ad_created, dtype: int64
4    28709
3    21291
Name: ad_last_seen, dtype: int64
6     11271
7      6814
5      6268
17     1396
3      1268
2      1245
30     1242
4      1231
31     1192
12     1191
1      1155
29     1117
22     1079
28     1043
21     1037
20     1035
24      978
25      960
23      929
26      848
16      822
27      801
15      794
19      787
14      640
11      626
10      538
9       493
13      449
8       380
18      371
Name: ad_last_seen, dtype: int64

In [21]:
print(autos["registration_month"].value_counts().sort_index())

0     5075
1     3282
2     3008
3     5071
4     4102
5     4107
6     4368
7     3949
8     3191
9     3389
10    3651
11    3360
12    3447
Name: registration_month, dtype: int64

In [22]:
autos_wo=autos[autos["registration_year"].between(1950,2016)]
print(autos_wo)

                ad_crawled                                               name  \
0      2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1      2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2      2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3      2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4      2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...
5      2016-03-21 13:47:45  Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...
6      2016-03-20 17:55:21  VW_Golf_III_GT_Special_Electronic_Green_Metall...
7      2016-03-16 18:55:19                               Golf_IV_1.9_TDI_90PS
8      2016-03-22 16:51:34                                         Seat_Arosa
9      2016-03-16 13:47:02          Renault_Megane_Scenic_1.6e_RT_Klimaanlage
11     2016-03-16 18:45:34                         Mercedes_A140_Motorschaden
12     2016-03-31 19:48:22  Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...
13     2016-03-23 10:48:32                                 Audi_A3_1.6_tuning
14     2016-03-23 11:50:46  Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...
15     2016-04-01 12:06:20        Corvette_C3_Coupe_T_Top_Crossfire_Injection
16     2016-03-16 14:59:02                                Opel_Vectra_B_Kombi
17     2016-03-29 11:46:22                          Volkswagen_Scirocco_2_G60
18     2016-03-26 19:57:44               Verkaufen_mein_bmw_e36_320_i_touring
19     2016-03-17 13:36:21        mazda_tribute_2.0_mit_gas_und_tuev_neu_2018
20     2016-03-05 19:57:31  Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...
21     2016-03-06 19:07:10                      Porsche_911_Carrera_4S_Cabrio
22     2016-03-28 20:50:54                               MINI_Cooper_S_Cabrio
23     2016-03-10 19:55:34   Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima
24     2016-04-03 11:57:02                         BMW_535i_xDrive_Sport_Aut.
25     2016-03-21 21:56:18  Ford_escort_kombi_an_bastler_mit_ghia_ausstattung
26     2016-04-03 22:46:28                                Volkswagen_Polo_Fox
27     2016-03-27 18:45:01             Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE
28     2016-03-19 21:56:19                                      MINI_Cooper_D
29     2016-04-02 12:45:44  Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...
30     2016-03-14 11:47:31                         Peugeot_206_Unfallfahrzeug
...                    ...                                                ...
49970  2016-03-21 22:47:37  c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...
49971  2016-03-29 14:54:12                                         W.Lupo_1.0
49972  2016-03-26 22:25:23          Mercedes_Benz_Vito_115_CDI_Extralang_Aut.
49973  2016-03-27 05:32:39                   Mercedes_Benz_SLK_200_Kompressor
49974  2016-03-20 10:52:31  Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...
49975  2016-03-27 20:51:39          Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort
49976  2016-03-19 18:56:05  Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...
49977  2016-03-31 18:37:18                        Mercedes_Benz_C200_Cdi_W203
49978  2016-04-04 10:37:14                        Mercedes_Benz_E_200_Classic
49979  2016-03-20 18:38:40                      Volkswagen_Polo_1.6_TDI_Style
49980  2016-03-12 10:55:54                            Ford_Escort_Turnier_16V
49981  2016-03-15 09:38:21             Opel_Astra_Kombi_mit_Anhaengerkupplung
49982  2016-03-29 18:51:08            Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm
49983  2016-03-06 12:43:04                                      Ford_focus_99
49984  2016-03-31 22:48:48  Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...
49985  2016-04-02 16:38:23                          Verkaufe_meinen_vw_vento!
49986  2016-04-04 20:46:02  Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...
49987  2016-03-22 20:47:27  Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...
49988  2016-03-28 19:49:51                                         BMW_330_Ci
49989  2016-03-11 19:50:37        VW_Polo_zum_Ausschlachten_oder_Wiederaufbau
49990  2016-03-21 19:54:19         Mercedes_Benz_A_200__BlueEFFICIENCY__Urban
49991  2016-03-06 15:25:19                                         Kleinwagen
49992  2016-03-10 19:37:38              Fiat_Grande_Punto_1.4_T_Jet_16V_Sport
49993  2016-03-15 18:47:35           Audi_A3__1_8l__Silber;_schoenes_Fahrzeug
49994  2016-03-22 17:36:42  Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996  2016-03-28 10:50:25  Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...
49997  2016-04-02 14:44:48                     Fiat_500_C_1.2_Dualogic_Lounge
49998  2016-03-08 19:25:42                 Audi_A3_2.0_TDI_Sportback_Ambition
49999  2016-03-14 00:42:12                                Opel_Vectra_1.6_16V

         price   abtest vehicle_type  registration_year    gearbox  power_ps  \
0       5000.0  control          bus               2004    manuell       158
1       8500.0  control    limousine               1997  automatik       286
2       8990.0     test    limousine               2009    manuell       102
3       4350.0  control   kleinwagen               2007  automatik        71
4       1350.0     test        kombi               2003    manuell         0
5       7900.0     test          bus               2006  automatik       150
6        300.0     test    limousine               1995    manuell        90
7       1990.0  control    limousine               1998    manuell        90
8        250.0     test          NaN               2000    manuell         0
9        590.0  control          bus               1997    manuell        90
11       350.0  control          NaN               2000        NaN         0
12      5299.0  control   kleinwagen               2010  automatik        71
13      1350.0  control    limousine               1999    manuell       101
14      3999.0     test   kleinwagen               2007    manuell        75
15     18900.0     test        coupe               1982  automatik       203
16       350.0     test        kombi               1999    manuell       101
17      5500.0     test        coupe               1990    manuell       205
18       300.0  control          bus               1995    manuell       150
19      4150.0  control          suv               2004    manuell       124
20      3500.0     test        kombi               2003    manuell       131
21     41500.0     test       cabrio               2004    manuell       320
22     25450.0  control       cabrio               2015    manuell       184
23      7999.0  control          bus               2010    manuell       120
24     48500.0  control    limousine               2014  automatik       306
25         NaN  control        kombi               1996    manuell       116
26       777.0  control   kleinwagen               1992    manuell        54
27         NaN  control          NaN               2005        NaN         0
28      5250.0  control   kleinwagen               2007    manuell       110
29      4999.0     test        kombi               2004  automatik       204
30         NaN     test   kleinwagen               2002    manuell        60
...        ...      ...          ...                ...        ...       ...
49970  15800.0  control          bus               2010  automatik       136
49971    950.0     test   kleinwagen               2001    manuell        50
49972   3300.0  control          bus               2004  automatik       150
49973   6000.0  control       cabrio               2004    manuell       163
49974      NaN  control       cabrio               1983    manuell        70
49975   9700.0  control   kleinwagen               2012  automatik        88
49976   5900.0     test        kombi               1992  automatik       150
49977   5500.0  control    limousine               2003    manuell       116
49978    900.0  control    limousine               1996  automatik       136
49979  11000.0     test   kleinwagen               2011    manuell        90
49980    400.0  control        kombi               1995    manuell       105
49981   2000.0  control        kombi               1998    manuell       115
49982   1950.0  control   kleinwagen               2004    manuell         0
49983    600.0     test   kleinwagen               1999    manuell       101
49984      NaN     test          NaN               2000        NaN         0
49985   1000.0  control          NaN               1995  automatik         0
49986  15900.0  control    limousine               2010  automatik       218
49987  21990.0  control    limousine               2013    manuell       150
49988   9550.0  control        coupe               2001    manuell       231
49989    150.0     test   kleinwagen               1997    manuell         0
49990  17500.0     test    limousine               2012    manuell       156
49991    500.0  control          NaN               2016    manuell         0
49992   4800.0  control   kleinwagen               2009    manuell       120
49993   1650.0  control   kleinwagen               1997    manuell         0
49994   5000.0  control        kombi               2001  automatik       299
49995  24900.0  control    limousine               2011  automatik       239
49996   1980.0  control       cabrio               1996    manuell        75
49997  13200.0     test       cabrio               2014  automatik        69
49998  22900.0  control        kombi               2013    manuell       150
49999   1250.0  control    limousine               1996    manuell       101

          model  odometer_km  registration_month fuel_type           brand  \
0        andere     150000.0                   3       lpg         peugeot
1           7er     150000.0                   6    benzin             bmw
2          golf      70000.0                   7    benzin      volkswagen
3        fortwo      70000.0                   6    benzin           smart
4         focus     150000.0                   7    benzin            ford
5       voyager     150000.0                   4    diesel        chrysler
6          golf     150000.0                   8    benzin      volkswagen
7          golf     150000.0                  12    diesel      volkswagen
8         arosa     150000.0                  10       NaN            seat
9        megane     150000.0                   7    benzin         renault
11          NaN     150000.0                   0    benzin   mercedes_benz
12       fortwo      50000.0                   9    benzin           smart
13           a3     150000.0                  11    benzin            audi
14         clio     150000.0                   9    benzin         renault
15          NaN      80000.0                   6    benzin  sonstige_autos
16       vectra     150000.0                   5    benzin            opel
17     scirocco     150000.0                   6    benzin      volkswagen
18          3er     150000.0                   0    benzin             bmw
19       andere     150000.0                   2       lpg           mazda
20           a4     150000.0                   5    diesel            audi
21          911     150000.0                   4    benzin         porsche
22       cooper      10000.0                   1    benzin            mini
23          NaN     150000.0                   2    diesel         peugeot
24          5er      30000.0                  12    benzin             bmw
25          NaN     150000.0                   4    benzin            ford
26         polo     125000.0                   2    benzin      volkswagen
27          NaN     150000.0                   0       NaN            ford
28       cooper     150000.0                   7    diesel            mini
29     e_klasse     150000.0                  10    diesel   mercedes_benz
30      2_reihe     150000.0                   6    benzin         peugeot
...         ...          ...                 ...       ...             ...
49970        c4      60000.0                   4    diesel         citroen
49971      lupo     150000.0                   4    benzin      volkswagen
49972      vito     150000.0                  10    diesel   mercedes_benz
49973       slk     150000.0                  11    benzin   mercedes_benz
49974      golf     150000.0                   2    benzin      volkswagen
49975      jazz     100000.0                  11    hybrid           honda
49976        80     150000.0                  12    benzin            audi
49977  c_klasse     150000.0                   2    diesel   mercedes_benz
49978  e_klasse     150000.0                   9    benzin   mercedes_benz
49979      polo      70000.0                  11    diesel      volkswagen
49980    escort     125000.0                   3    benzin            ford
49981     astra     150000.0                  12    benzin            opel
49982     fabia      90000.0                   7    benzin           skoda
49983     focus     150000.0                   4    benzin            ford
49984       NaN     150000.0                   0       NaN  sonstige_autos
49985       NaN     150000.0                   0    benzin      volkswagen
49986      300c     125000.0                  11    diesel        chrysler
49987        a3      50000.0                  11    diesel            audi
49988       3er     150000.0                  10    benzin             bmw
49989      polo     150000.0                   5    benzin      volkswagen
49990  a_klasse      30000.0                  12    benzin   mercedes_benz
49991    twingo     150000.0                   0    benzin         renault
49992    andere     125000.0                   9       lpg            fiat
49993       NaN     150000.0                   7    benzin            audi
49994        a6     150000.0                   1    benzin            audi
49995        q5     100000.0                   1    diesel            audi
49996     astra     150000.0                   5    benzin            opel
49997       500       5000.0                  11    benzin            fiat
49998        a3      40000.0                  11    diesel            audi
49999    vectra     150000.0                   1    benzin            opel

      unrepaired_damage           ad_created  postal_code         ad_last_seen
0                  nein  2016-03-26 00:00:00        79588  2016-04-06 06:45:54
1                  nein  2016-04-04 00:00:00        71034  2016-04-06 14:45:08
2                  nein  2016-03-26 00:00:00        35394  2016-04-06 20:15:37
3                  nein  2016-03-12 00:00:00        33729  2016-03-15 03:16:28
4                  nein  2016-04-01 00:00:00        39218  2016-04-01 14:38:50
5                   NaN  2016-03-21 00:00:00        22962  2016-04-06 09:45:21
6                   NaN  2016-03-20 00:00:00        31535  2016-03-23 02:48:59
7                  nein  2016-03-16 00:00:00        53474  2016-04-07 03:17:32
8                  nein  2016-03-22 00:00:00         7426  2016-03-26 18:18:10
9                  nein  2016-03-16 00:00:00        15749  2016-04-06 10:46:35
11                  NaN  2016-03-16 00:00:00        17498  2016-03-16 18:45:34
12                 nein  2016-03-31 00:00:00        34590  2016-04-06 14:17:52
13                 nein  2016-03-23 00:00:00        12043  2016-04-01 14:17:13
14                  NaN  2016-03-23 00:00:00        81737  2016-04-01 15:46:47
15                 nein  2016-04-01 00:00:00        61276  2016-04-02 21:10:48
16                 nein  2016-03-16 00:00:00        57299  2016-03-18 05:29:37
17                 nein  2016-03-29 00:00:00        74821  2016-04-05 20:46:26
18                  NaN  2016-03-26 00:00:00        54329  2016-04-02 12:16:41
19                 nein  2016-03-17 00:00:00        40878  2016-03-17 14:45:58
20                  NaN  2016-03-05 00:00:00        53913  2016-03-07 05:46:46
21                 nein  2016-03-06 00:00:00        65428  2016-04-05 23:46:19
22                 nein  2016-03-28 00:00:00        44789  2016-04-01 06:45:30
23                 nein  2016-03-10 00:00:00        30900  2016-03-17 08:45:17
24                 nein  2016-04-03 00:00:00        22547  2016-04-07 13:16:50
25                   ja  2016-03-21 00:00:00        27574  2016-04-01 05:16:49
26                 nein  2016-04-03 00:00:00        38110  2016-04-05 23:46:48
27                  NaN  2016-03-27 00:00:00        66701  2016-03-27 18:45:01
28                   ja  2016-03-19 00:00:00        15745  2016-04-07 14:58:48
29                 nein  2016-04-02 00:00:00        47638  2016-04-02 12:45:44
30                   ja  2016-03-14 00:00:00        57076  2016-03-14 11:47:31
...                 ...                  ...          ...                  ...
49970              nein  2016-03-21 00:00:00        14947  2016-04-07 04:17:34
49971              nein  2016-03-29 00:00:00        65197  2016-03-29 20:41:51
49972                ja  2016-03-26 00:00:00        65326  2016-03-28 11:28:18
49973              nein  2016-03-27 00:00:00        53567  2016-03-27 08:25:24
49974              nein  2016-03-20 00:00:00         8209  2016-03-27 19:48:16
49975              nein  2016-03-27 00:00:00        84385  2016-04-05 19:45:34
49976              nein  2016-03-19 00:00:00        36100  2016-04-07 06:16:44
49977              nein  2016-03-31 00:00:00        33739  2016-04-06 12:16:11
49978                ja  2016-04-04 00:00:00        24405  2016-04-06 12:44:20
49979              nein  2016-03-20 00:00:00        48455  2016-04-07 01:45:12
49980               NaN  2016-03-12 00:00:00        56218  2016-04-06 17:16:49
49981              nein  2016-03-15 00:00:00        86859  2016-04-05 17:21:46
49982               NaN  2016-03-29 00:00:00        45884  2016-03-29 18:51:08
49983               NaN  2016-03-06 00:00:00        52477  2016-03-09 06:16:08
49984               NaN  2016-03-31 00:00:00        12103  2016-04-02 19:44:53
49985               NaN  2016-04-02 00:00:00        30900  2016-04-06 15:17:52
49986              nein  2016-04-04 00:00:00        73527  2016-04-06 23:16:00
49987              nein  2016-03-22 00:00:00        94362  2016-03-26 22:46:06
49988              nein  2016-03-28 00:00:00        83646  2016-04-07 02:17:40
49989                ja  2016-03-11 00:00:00        21244  2016-03-12 10:17:55
49990              nein  2016-03-21 00:00:00        58239  2016-04-06 22:46:57
49991               NaN  2016-03-06 00:00:00        61350  2016-03-06 18:24:19
49992              nein  2016-03-10 00:00:00        68642  2016-03-13 01:44:51
49993               NaN  2016-03-15 00:00:00        65203  2016-04-06 19:46:53
49994              nein  2016-03-22 00:00:00        46537  2016-04-06 08:16:39
49995              nein  2016-03-27 00:00:00        82131  2016-04-01 13:47:40
49996              nein  2016-03-28 00:00:00        44807  2016-04-02 14:18:02
49997              nein  2016-04-02 00:00:00        73430  2016-04-04 11:47:27
49998              nein  2016-03-08 00:00:00        35683  2016-04-05 16:45:07
49999              nein  2016-03-13 00:00:00        45897  2016-04-06 21:18:48

[48004 rows x 17 columns]

I decided to remove all the rows with registration year  below 1950, it seems difficult to believe that someone is selling such old cars.

In [23]:
autos_wo["registration_year"].value_counts(normalize=True)

2000    0.069869
2005    0.062807
1999    0.062495
2004    0.057016
2003    0.056808
2006    0.056412
2001    0.056308
2002    0.052766
1998    0.051100
2007    0.047996
2008    0.046475
2009    0.043705
1997    0.042246
2011    0.034039
2010    0.033268
1996    0.030081
2012    0.027560
2016    0.027414
1995    0.027352
2013    0.016790
2014    0.013874
1994    0.013749
1993    0.009270
2015    0.008312
1990    0.008228
1992    0.008145
1991    0.007416
1989    0.003771
1988    0.002958
1985    0.002187
          ...
1982    0.000896
1972    0.000729
1979    0.000729
1960    0.000708
1981    0.000646
1967    0.000562
1976    0.000562
1971    0.000562
1968    0.000542
1973    0.000542
1974    0.000500
1966    0.000458
1977    0.000458
1969    0.000396
1975    0.000396
1965    0.000354
1964    0.000250
1963    0.000187
1959    0.000146
1961    0.000125
1956    0.000104
1962    0.000083
1958    0.000083
1950    0.000062
1955    0.000042
1957    0.000042
1954    0.000042
1951    0.000042
1953    0.000021
1952    0.000021
Name: registration_year, Length: 67, dtype: float64

The distribution seems peaked in the 2000-2005 years.

## Exploring Price by Brand

In [24]:
import operator
mean_price={}
brands = autos_wo["brand"].unique()
for b in brands:
    mean_price_brand = autos_wo[autos_wo["brand"] == b]
    mean_value=mean_price_brand["price"].mean(skipna=True)
    mean_price[b]=mean_value
sorted_means=sorted(mean_price.items(),key=operator.itemgetter(1))
print(sorted_means)

[('daewoo', 1064.0579710144928), ('rover', 1602.2903225806451), ('daihatsu', 1649.655172413793), ('trabant', 1846.5238095238096), ('renault', 2496.940394314535), ('lada', 2688.296296296296), ('fiat', 2836.8736310025274), ('opel', 3005.9309720265646), ('peugeot', 3113.860549132948), ('saab', 3211.6493506493507), ('mitsubishi', 3439.10290237467), ('lancia', 3444.877551020408), ('chrysler', 3486.5766871165642), ('smart', 3596.40273556231), ('ford', 3727.959789669038), ('citroen', 3796.26267281106), ('subaru', 4033.7551020408164), ('alfa_romeo', 4100.915857605178), ('honda', 4119.109589041096), ('suzuki', 4126.341818181818), ('mazda', 4129.774787535411), ('seat', 4433.419621749409), ('nissan', 4756.659634317863), ('volvo', 4993.208037825059), ('toyota', 5167.091062394604), ('hyundai', 5411.075431034483), ('volkswagen', 5433.228618085323), ('dacia', 5915.528455284553), ('kia', 6018.442073170731), ('skoda', 6409.609724047306), ('chevrolet', 6759.885931558935), ('bmw', 8249.015481089555), ('mercedes_benz', 8570.232849162012), ('audi', 9339.529967669734), ('mini', 10639.450980392157), ('sonstige_autos', 10890.197674418605), ('jeep', 11650.5), ('jaguar', 11961.56338028169), ('land_rover', 19108.091836734693), ('porsche', 34368.41106719367)]

For now I decided to loop over every brand to understand better the price distribution.
The dataset includes every kind of cars, from the cheapest (daewoo, rover, daihatsu) to the most expensive (jaguar, land rover, porsche).

In [25]:
mean_price_top_seller={}
counting_cars=autos_wo["brand"].value_counts()
top_brands=counting_cars.sort_values(ascending=False).head(6)
print(top_brands)
for b in top_brands.index:
    mean_price_brand = autos_wo[autos_wo["brand"] == b]
    mean_value=mean_price_brand["price"].mean(skipna=True)
    mean_price_top_seller[b]=mean_value
sorted_means=sorted(mean_price_top_seller.items(),key=operator.itemgetter(1))
print(sorted_means)

volkswagen       10187
bmw               5283
opel              5192
mercedes_benz     4578
audi              4149
ford              3349
Name: brand, dtype: int64
[('opel', 3005.9309720265646), ('ford', 3727.959789669038), ('volkswagen', 5433.228618085323), ('bmw', 8249.015481089555), ('mercedes_benz', 8570.232849162012), ('audi', 9339.529967669734)]

Of the top 5 brands, there is a distinct price gap:

- Audi, BMW and Mercedes Benz are more expensive;
- Ford and Opel are less expensive;
- Volkswagen is in between.
Volkswagen can be seen as a good trade-off and this can explain his popularity.

## Exploring Mileage by Brand

In [26]:
mean_mileage_top_seller={}
for b in top_brands.index:
    mean_mileage_brand = autos_wo[autos_wo["brand"] == b]
    mean_distance=mean_mileage_brand["odometer_km"].mean(skipna=True)
    mean_mileage_top_seller[b]=mean_distance
mileage_series=pd.Series(mean_mileage_top_seller)
price_series=pd.Series(mean_price_top_seller)
auto_aggreg=pd.DataFrame(price_series,columns=["mean_price"])
auto_aggreg["mean_distance"]=mileage_series
import pprint
pp = pprint.PrettyPrinter()
pp.pprint(auto_aggreg)

                mean_price  mean_distance
audi           9339.529968  129287.780188
bmw            8249.015481  132458.830210
ford           3727.959790  124151.985667
mercedes_benz  8570.232849  130903.232853
opel           3005.930972  129252.696456
volkswagen     5433.228618  128733.189359

The range of car mileages does not vary as much as the prices do by brand, instead all falling within 10% for the top brands. There is a slight trend to the more expensive vehicles having higher mileage, with the less expensive vehicles having lower mileage.

## Further cleaning and analisys

In [27]:
date_crawled=autos_wo['ad_crawled'].str[:4].str[:4]+autos_wo['ad_crawled'].str[5:7]+autos_wo['ad_crawled'].str[8:10]
date_crawled=date_crawled.astype(int)
date_created=autos_wo['ad_created'].str[:4]+autos_wo['ad_created'].str[5:7]+autos_wo['ad_created'].str[8:10]
date_created=date_created.astype(int)
date_last_seen=autos_wo['ad_last_seen'].str[:4]+autos_wo['ad_last_seen'].str[5:7]+autos_wo['ad_last_seen'].str[8:10]
date_last_seen=date_last_seen.astype(int)
autos_def=autos_wo.copy()
autos_def['ad_crawled']=date_crawled
autos_def['ad_created']=date_created
autos_def['ad_last_seen']=date_last_seen

In [28]:
for c in autos_def.columns:
    if autos_def[c].dtype=="object":
        print(autos_def[c].unique())

['Peugeot_807_160_NAVTECH_ON_BOARD'
 'BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik' 'Volkswagen_Golf_1.6_United'
 ... 'Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon'
 'Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+Reifen_neu_!!'
 'Fiat_500_C_1.2_Dualogic_Lounge']
['control' 'test']
['bus' 'limousine' 'kleinwagen' 'kombi' nan 'coupe' 'suv' 'cabrio'
 'andere']
['manuell' 'automatik' nan]
['andere' '7er' 'golf' 'fortwo' 'focus' 'voyager' 'arosa' 'megane' nan
 'a3' 'clio' 'vectra' 'scirocco' '3er' 'a4' '911' 'cooper' '5er' 'polo'
 'e_klasse' '2_reihe' 'c_klasse' 'corsa' 'mondeo' 'altea' 'a1' 'twingo'
 'a_klasse' 'cl' '3_reihe' 's_klasse' 'sandero' 'passat' 'primera'
 'wrangler' 'a6' 'transporter' 'astra' 'v40' 'ibiza' 'micra' '1er' 'yaris'
 'colt' '6_reihe' '5_reihe' 'corolla' 'ka' 'tigra' 'punto' 'vito'
 'cordoba' 'galaxy' '100' 'sharan' 'octavia' 'm_klasse' 'lupo' 'fiesta'
 'superb' 'meriva' 'c_max' 'laguna' 'touran' '1_reihe' 'm_reihe' 'touareg'
 'seicento' 'avensis' 'vivaro' 'x_reihe' 'ducato' 'carnival' 'boxster'
 'signum' 'zafira' 'rav' 'a5' 'beetle' 'c_reihe' 'phaeton' 'i_reihe' 'sl'
 'insignia' 'up' 'civic' '80' 'mx_reihe' 'omega' 'sorento' 'z_reihe'
 'berlingo' 'clk' 's_max' 'kalos' 'cx_reihe' 'grand' 'swift' 'tiguan'
 'sprinter' 'mii' 'viano' 'kaefer' 'almera' 'picanto' 'espace' 'scenic'
 'one' 'bora' 'fox' 'leon' 'transit' 'tucson' 'tt' 'qashqai' 'mustang'
 'jazz' 'nubira' 'v70' 'duster' 'stilo' 'justy' 'kangoo' 'fabia' 'matiz'
 'freelander' 'lancer' 'forester' 's_type' 'bravo' '500' '156' 'cr_reihe'
 'toledo' 'panda' 'a8' 'ceed' 'caddy' 'aygo' 'citigo' 'exeo' 'c1' 'doblo'
 'impreza' '147' 'agila' '145' 'c3' 'roomster' 'auris' '601' 'eos' 'aveo'
 'slk' 'terios' 'fusion' 'c4' 'glk' 'materia' 'v50' 'combo' 'yeti' '900'
 '850' 'outlander' 'rio' 'escort' 'c2' 'jimny' 'forfour' 'a2' 'spider'
 'kadett' 'b_klasse' 'carisma' 'cayenne' 'r19' 'cc' 'note' 'logan'
 'xc_reihe' 'verso' 'v_klasse' 'jetta' 'c5' 'q5' 'getz' 'navara' 'x_type'
 'clubman' 's60' '4_reihe' 'lybra' 'cherokee' 'q3' 'q7' 'roadster'
 'captiva' 'cuore' '90' 'ptcruiser' 'kuga' 'x_trail' 'ypsilon' 'pajero'
 'delta' 'rx_reihe' 'modus' 'sportage' 'calibra' 'sirion' '6er' 'gl'
 'amarok' 'santa' '300c' 'antara' 'accord' 'crossfire' '159' 'niva'
 'galant' 'legacy' 'defender' 'range_rover' 'juke' 'spark' 'lanos' 'v60'
 'alhambra' 'discovery' 'range_rover_sport' 'range_rover_evoque' 'move'
 'croma' 'g_klasse' 'lodgy' 'rangerover' 'samara' 'kappa' '9000' 'charade'
 'i3' '200' 'b_max']
['lpg' 'benzin' 'diesel' nan 'cng' 'hybrid' 'elektro' 'andere']
['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']
['nein' nan 'ja']

I'll translate some values from German to English.

In [29]:
traduction={
    "manuell":"manual",
    "automatik":"automatic",
    "nein":"no",
    "ja":"yes"
}
autos_def["gearbox"]=autos_def["gearbox"].map(traduction)
autos_def["unrepaired_damage"]=autos_def["unrepaired_damage"].map(traduction)

Below are listed the most common model for the most popular brands.

In [30]:
common_model_for_brands={}
for b in top_brands.index:
    common_model = autos_def[autos_def["brand"] == b].sort_values("model",ascending=False).iloc[0].loc["model"]
    common_model_for_brands[b]=common_model
print(common_model_for_brands)

{'audi': 'tt', 'bmw': 'z_reihe', 'mercedes_benz': 'vito', 'ford': 'transit', 'volkswagen': 'up', 'opel': 'zafira'}

In [31]:
print(autos_def["odometer_km"].unique())

[150000.  70000.  50000.  80000.  10000.  30000. 125000.  90000.  20000.
  60000.   5000.  40000. 100000.]

I'll now analize the price in function of the mileage.

In [32]:
mean_price_for_milage={}
group_milage=autos_def["odometer_km"].unique()
for g in group_milage:
    data_milage = autos_def[autos_def["odometer_km"] == g]
    mean_price=data_milage["price"].mean(skipna=True)
    mean_price_for_milage[g]=mean_price
milage_price_series=pd.Series(mean_price_for_milage)
print(milage_price_series)

5000.0       7101.380403
10000.0     19569.886463
20000.0     16704.047880
30000.0     15734.814913
40000.0     15331.973552
50000.0     13556.101317
60000.0     12113.074866
70000.0     10954.826014
80000.0      9673.630197
90000.0      8473.360862
100000.0     7970.518863
125000.0     6189.368280
150000.0     3778.533110
dtype: float64

Excluding the very first values of milage, which include damaged cars, the price predictibly decreases when the milage increases.

In [33]:
mean_price_for_damage={}
group_damage=autos_def["unrepaired_damage"].unique()
for g in group_damage:
    data_damage = autos_def[autos_def["unrepaired_damage"] == g]
    mean_price=data_damage["price"].mean(skipna=True)
    mean_price_for_damage[g]=mean_price
damage_price_series=pd.Series(mean_price_for_damage)
print(damage_price_series)

NaN            NaN
yes    2250.537757
no     6995.619141
dtype: float64

In average the damaged cars costs less than one third than the non-damaged.
This result, though, is biased by the fact that a luxury car is more probably repaired before the sale.